pyrogram
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
requests
bs4
git+https://github.com/Joelkb/cinemagoer
shortzy
datetime
pytz
aiohttp

#---master---#
# Telethroid
PyLeaves

#---others----#
opencv-python-headless
python-dotenv
speedtest
humanize
Pillow
psutil
NumPy
wheel
ujson
wget
aiofiles
dnspython
python-decouple
ffmpeg-python
jinja2
apscheduler
pyshorteners
colorama
search_engine_parser
ffmpeg
youtube-search-python
youtube-dl
countryinfo
python-math
speedtest-cli
python-telegram-bot
doodstream
unshortenit
ytthumb
YoutubeTags
beautifulsoup4
python-docx
yt-dlp
python-dateutil
google-generativeai
asyncio
chardet
urllib3
pycryptodomex
six
googlesearch-python
spotipy
scdl
tqdm
pafy
pytube
spotdl
discord
moviepy
shazamio
telegraph
PyPDF2
pypdf
Faker
telethon
sqlalchemy
SafoneAPI
gtts
pydub
pyfiglet
jikanpy
html2text
secureme
gpytranslate
googletrans
lexica-api
SpeechRecognition
gitpython
pyromod
uvloop
MukeshAPI
httpx
HorridAPI
