 pyrofork
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
requests
beautifulsoup4
git+https://github.com/Joelkb/cinemagoer
shortzy
datetime
pytz
aiohttp
PyLeaves==1.0.2
opencv-python-headless==4.7.0.68
python-dotenv==0.21.1
speedtest==0.0.1
humanize==4.6.0
Pillow==9.4.0
psutil==5.9.4
NumPy
wheel
ujson
wget
aiofiles
dnspython==2.3.0
python-decouple
ffmpeg-python>=0.2.0
jinja2
apscheduler
pyshorteners
colorama
search_engine_parser
ffmpeg
youtube-search-python==1.4.6
youtube-dl
countryinfo
python-math
speedtest-cli
python-telegram-bot==12.8
doodstream
unshortenit
ytthumb
YoutubeTags
python-docx
yt-dlp
python-dateutil
google-generativeai
asyncio
chardet
urllib3
pycryptodomex
six
googlesearch-python
spotipy
scdl
tqdm
pytube
youtube-search
spotdl
discord
moviepy==1.0.3
shazamio
telegraph
PyPDF2
pypdf
pyrogram==2.0.106
Faker
telethon
sqlalchemy
gtts
pydub
pyfiglet
jikanpy==4.3.2
html2text==2024.2.26
secureme==0.0.4
gpytranslate
googletrans
lexica-api
SpeechRecognition
gitpython
pyromod
uvloop
MukeshAPI
httpx
